<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd%22%3E">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
</head>
<body>
<div th:fragment="header">
    <div class="nav">
        <h1>Let's Party!</h1>
        <div class="navbuttons">
            <a class="buttonLook menuButton" href="/home">home</a>
            <a class="buttonLook menuButton" href="/venuelist">venues</a>
            <a class="buttonLook menuButton" href="/about">about</a>
            <a class="buttonLook menuButton" href="/artistlist">artist</a>
        </div>
    </div>
    <div class="freespaceforheader"></div>
</div>
<div class="bottom" th:fragment="footer">
    <p>copyright ThomasMore</p>
</div>
</body>
</html>