
h1{
    margin-top: 20%;
}
body{
    background-color: cadetblue;
    display: inline-block;
    font-size: x-large;
}
.row1content{
    display: flex;
    position: relative;
    margin: 20px 5px ;
}
.info{
    margin-right:20px ;
}
#topnav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lightblue;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.nav-link {
    display: inline-block;
    width: 100px;
    height: 55px;
    color: White;
    text-align: center;
    line-height: 55px;
    text-decoration: none;
}

#logo {
    width: 120px;
    background-color: RoyalBlue;
    font-weight: bold;
}

