body{
    background-color: cadetblue;
    display: inline-block;
    font-size: x-large;
}
.row1content{
    display: flex;
    position: relative;
    margin: 20px 5px ;
}
.info{
    margin-right:20px ;
}