<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About pagina</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
</head>
<div th:replace="~{fragments/headerfooter :: header}">Hier komt de header</div>
<body>

<h1>About me</h1>
<p>This is all about me...</p>
<ol>
    <li th:text="${name}">naam</li>
    <li th:text="${street}">straat</li>
    <li th:text="${city}">gemeente</li>
</ol>
<p th:text="|ik ben ${name} en woon in ${street} te ${city}|">waar</p>
<div class="bottom" th:fragment="footer">
    <p>copyright Thomasmore</p>
</div>
</body>
</html>