<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About pagina</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"/>
</head>
<body>
<nav id="topnav">
    <a id="logo" class="nav-link" href="#">Tosj</a>
    <a class="nav-link" th:href="@{/templates/home.html}">Home</a>
    <a class="nav-link" href="venuedetails.html">Venuedetails</a>
    <a class="nav-link" href="about.html">about me</a>
</nav>
<h1>About me</h1>
<p>This is all about me...</p>
<ol>
    <li th:text="${name}">naam</li>
    <li th:text="${street}">straat</li>
    <li th:text="${city}">gemeente</li>
</ol>
<p th:text="|ik ben ${name} en woon in ${street} te ${city}|">waar</p>
</body>
</html>