<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}"/>
</head>
<div th:replace="~{fragments/headerfooter :: header}">Hier komt de header</div>
<body>

<div class="freespaceforheader"></div>
<div class="row1">
  <div class="row1content">
    <h2>Artists</h2>
    <div class="artistlist">
      <div th:each="artist: ${artists}">
        <a class="buttonLook mediumButton" th:href="@{|/artistdetails/${artist.id}|}">
          <span th:text="${artist.artistName}">artist name</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="bottom" th:fragment="footer">
  <p>copyright Thomasmore</p>
</div>
</body>
</html>
