<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HOME</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/index.css}"/>
</head>
<body>
<nav id="topnav">
  <a id="logo" class="nav-link" href="#">Tosj</a>
  <a class="nav-link" href="home.html">Home</a>
  <a class="nav-link" href="venuedetails.html">Venuedetails</a>
  <a class="nav-link" href="about.html">about me</a>
</nav>
<h1>venue</h1>
<h2 th:text="${venue.venueName}">Naam venue</h2>
<p th:text="${venue.getLinkMoreInfo()}" th:href="@{${venue.linkMoreInfo}}">link</p>

<h3>Den Aalmoezenier</h3>

  <div class="row1content">
    <div class="info">info ?</div>
    <div th:text="${venue.getLinkMoreInfo()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">capacity</div>
    <div th:text="${venue.getCapacity()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">food provided?</div>
    <div th:text="${venue.isFoodProvided()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">indoor?</div>
    <div th:text="${venue.isIndoor()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">outdoor?</div>
    <div th:text="${venue.isOutdoor()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">fre parking?</div>
    <div th:text="${venue.isFreeParkingAvailable()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">hoever van publiek transport?</div>
    <div th:text="${venue.getDistanceFromPublicTransportInKm()}">1.0</div>
  </div>
  <div class="row1content">
    <div class="info">city?</div>
   <div th:text="${venue.getCity()}">antwerpen</div>
  </div>
</body>
</html>